In [1]:
import pandas as pd

In [6]:
df = pd.read_csv("data/fpl_history_backup.csv")
df.head()

C:\Users\ongmi\AppData\Local\Temp\ipykernel_17692\2805384843.py:1: DtypeWarning: Columns (4,5,8) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv("data/fpl_history_backup.csv")

,season,round,element,full_name,team,position,fixture,opponent_team,opponent_team_name,total_points,...,ict_index,value,transfers_balance,selected,transfers_in,transfers_out,expected_goals,expected_goal_involvements,expected_assists,expected_goals_conceded
0,2023-2024,29.0,21,Albert Sambi Lokonga,Luton,MID,287,16,Nott'm Forest,0.0,...,0.0,49.0,-78.0,2131.0,14.0,92.0,0.00,0.00,0.00,0.00
1,2023-2024,29.0,23,Nuno Varela Tavares,Nott'm Forest,DEF,287,12,Luton,0.0,...,0.0,40.0,-925.0,27166.0,52.0,977.0,0.00,0.00,0.00,0.00
2,2023-2024,29.0,28,Matt Turner,Nott'm Forest,GKP,287,12,Luton,0.0,...,0.0,39.0,-12013.0,1002152.0,5141.0,17154.0,0.00,0.00,0.00,0.00
3,2023-2024,29.0,32,Alexandre Moreno Lopera,Aston Villa,DEF,289,19,West Ham,2.0,...,2.0,52.0,16677.0,509463.0,32086.0,15409.0,0.03,0.06,0.03,1.25
4,2023-2024,29.0,34,Leon Bailey,Aston Villa,MID,289,19,West Ham,2.0,...,6.9,57.0,73470.0,986496.0,88325.0,14855.0,0.14,0.21,0.07,2.04

In [5]:
# df = df.drop(["level_0", "index"], axis=1)
# df.to_csv("data/fpl_history_backup.csv", index=False)

In [7]:
df.tail()

,season,round,element,full_name,team,position,fixture,opponent_team,opponent_team_name,total_points,...,ict_index,value,transfers_balance,selected,transfers_in,transfers_out,expected_goals,expected_goal_involvements,expected_assists,expected_goals_conceded
188235,2016-2017,1.0,520,Lynden Gooch,NaN,NaN,5,10,NaN,1.0,...,1.8,45.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
188236,2016-2017,1.0,521,Joel Asoro,NaN,NaN,5,10,NaN,0.0,...,0.0,45.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
188237,2016-2017,1.0,522,Alex Baptiste,NaN,NaN,6,14,NaN,0.0,...,0.0,40.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
188238,2016-2017,1.0,523,Trent Alexander-Arnold,NaN,NaN,8,1,NaN,0.0,...,0.0,45.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN
188239,2016-2017,1.0,524,Alexander Manninger,NaN,NaN,8,1,NaN,0.0,...,0.0,40.0,0.0,0.0,0.0,0.0,NaN,NaN,NaN,NaN