In [12]:
import sqlite3
import pandas as pd
import numpy as np
from datetime import timedelta
import requests
from tqdm import tqdm
import re

In [54]:
conn = sqlite3.connect("../data/fpl.db")
fpl_data = pd.read_sql(f"select distinct season, full_name as fpl_name from raw_fpl_data", conn)
player_log = pd.read_sql(f"select distinct season, player as fbref_name from raw_player_match_log", conn)
conn.close()

      season            fpl_name
0  2016-2017     Aaron Cresswell
1  2016-2017        Aaron Lennon
2  2016-2017        Aaron Ramsey
3  2016-2017  Abdoulaye Doucouré
4  2016-2017   Abdul Rahman Baba

      season    fbref_name
0  2012-2013  Aaron Hughes
1  2012-2013  Aaron Lennon
2  2012-2013  Aaron Ramsey
3  2012-2013   Abdul Razak
4  2012-2013    Abou Diaby

In [18]:
from thefuzz import process
from tqdm import tqdm

Fuzzy matching 2016-2017:   0%|          | 0/683 [00:00<?, ?it/s]

Fuzzy matching 2016-2017: 100%|██████████| 683/683 [00:01<00:00, 642.80it/s]
Fuzzy matching 2017-2018: 100%|██████████| 647/647 [00:00<00:00, 652.48it/s]
Fuzzy matching 2018-2019: 100%|██████████| 624/624 [00:00<00:00, 640.86it/s]
Fuzzy matching 2019-2020: 100%|██████████| 666/666 [00:01<00:00, 601.33it/s]
Fuzzy matching 2020-2021: 100%|██████████| 712/712 [00:01<00:00, 465.61it/s]
Fuzzy matching 2021-2022: 100%|██████████| 735/735 [00:01<00:00, 484.67it/s]
Fuzzy matching 2022-2023: 100%|██████████| 777/777 [00:01<00:00, 542.77it/s]
Fuzzy matching 2023-2024: 100%|██████████| 714/714 [00:01<00:00, 681.15it/s]

,season,fpl_name,fbref_name,fuzzy_score
0,2016-2017,Aaron Cresswell,Aaron Cresswell,100
1,2016-2017,Aaron Lennon,Aaron Lennon,100
2,2016-2017,Aaron Ramsey,Aaron Ramsey,100
3,2016-2017,Abdoulaye Doucouré,Abdoulaye Doucouré,100
4,2016-2017,Abel Hernández,Abel Hernández,100
...,...,...,...,...
5300,2023-2024,Toti António Gomes,Toti Gomes,86
5301,2023-2024,Boubacar Traoré,Boubacar Traoré,100
5302,2023-2024,Matheus Santos Carneiro Da Cunha,Gabriel Dos Santos,86
5303,2023-2024,Matheus Santos Carneiro Da Cunha,Matheus Cunha,86
5304,2023-2024,Matheus Santos Carneiro Da Cunha,Matheus Nunes,86

         season                  fpl_name        fbref_name  fuzzy_score
0     2012-2013                       NaN      Aaron Hughes          NaN
1     2012-2013                       NaN      Aaron Lennon          NaN
2     2012-2013                       NaN      Aaron Ramsey          NaN
3     2012-2013                       NaN       Abdul Razak          NaN
4     2012-2013                       NaN        Abou Diaby          NaN
...         ...                       ...               ...          ...
7515  2023-2024               Yoane Wissa       Yoane Wissa        100.0
7516  2023-2024           Youri Tielemans   Youri Tielemans        100.0
7517  2023-2024  Youssef Ramalho Chermiti  Youssef Chermiti         86.0
7518  2023-2024             Yves Bissouma     Yves Bissouma        100.0
7519  2023-2024              Zeki Amdouni      Zeki Amdouni        100.0

[7520 rows x 4 columns]