In [1]:
import pandas as pd

In [5]:
merged_seasons = pd.read_csv("./merged_seasons.csv", index_col=[0])
print(merged_seasons.columns)
print(len(merged_seasons.columns))

Index(['season_x', 'name', 'position', 'team_x', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'fixture', 'goals_conceded',
       'goals_scored', 'ict_index', 'influence', 'kickoff_time', 'minutes',
       'opponent_team', 'opp_team_name', 'own_goals', 'penalties_missed',
       'penalties_saved', 'red_cards', 'round', 'saves', 'selected',
       'team_a_score', 'team_h_score', 'threat', 'total_points',
       'transfers_balance', 'transfers_in', 'transfers_out', 'value',
       'was_home', 'yellow_cards', 'GW'],
      dtype='object')
37

C:\Users\ongmk\AppData\Local\Temp\ipykernel_31172\608655624.py:1: DtypeWarning: Columns (4) have mixed types. Specify dtype option on import or set low_memory=False.
  merged_seasons = pd.read_csv("./merged_seasons.csv", index_col=[0])

In [14]:
merged_gw = pd.read_csv("./merged_gw.csv")
print(merged_gw.columns)
print(len(merged_gw.columns))

Index(['name', 'position', 'team', 'xP', 'assists', 'bonus', 'bps',
       'clean_sheets', 'creativity', 'element', 'expected_assists',
       'expected_goal_involvements', 'expected_goals',
       'expected_goals_conceded', 'fixture', 'goals_conceded', 'goals_scored',
       'ict_index', 'influence', 'kickoff_time', 'minutes', 'opponent_team',
       'own_goals', 'penalties_missed', 'penalties_saved', 'red_cards',
       'round', 'saves', 'selected', 'starts', 'team_a_score', 'team_h_score',
       'threat', 'total_points', 'transfers_balance', 'transfers_in',
       'transfers_out', 'value', 'was_home', 'yellow_cards', 'GW'],
      dtype='object')
41

In [15]:
set1 = set(merged_seasons.columns.tolist())
set2 = set(merged_gw.columns.tolist())

print(set1.difference(set2))
print(set2.difference(set1))

{'season_x', 'opp_team_name', 'team_x'}
{'team', 'starts', 'expected_goals_conceded', 'expected_goals', 'expected_assists', 'expected_goal_involvements', 'xP'}

In [17]:
merged_seasons[['team_x', 'opp_team_name', 'season_x']].head()

  team_x opp_team_name season_x
0    NaN       Chelsea  2016-17
1    NaN         Spurs  2016-17
2    NaN     Liverpool  2016-17
3    NaN   Southampton  2016-17
4    NaN         Stoke  2016-17

In [18]:
merged_gw[['team', 'starts', 'expected_goals_conceded', 'expected_goals', 'expected_assists', 'expected_goal_involvements', 'xP']].head()

,team,starts,expected_goals_conceded,expected_goals,expected_assists,expected_goal_involvements,xP
0,Southampton,0,0.0,0.0,0.0,0.0,1.5
1,Bournemouth,0,0.0,0.0,0.0,0.0,1.1
2,Chelsea,0,0.0,0.0,0.0,0.0,2.0
3,Newcastle,0,0.0,0.0,0.0,0.0,2.4
4,Leicester,0,0.0,0.0,0.0,0.0,1.9

In [36]:
merged_gw.groupby(['element', 'GW']).filter(lambda x: len(x) > 1)[['element', 'name', 'GW', 'xP']]

       element                       name  GW   xP
10513      150              Armando Broja  19  0.0
10514      150              Armando Broja  19  0.0
10524      272              Wesley Fofana  19  0.0
10525      272              Wesley Fofana  19  0.0
10530      203         Nathaniel Chalobah  19 -0.1
...        ...                        ...  ..  ...
25703      587               Sergio Gómez  37  5.0
25711      347  Facundo Pellistri Rebollo  37  0.5
25712      347  Facundo Pellistri Rebollo  37  0.5
25724      119   Jeremy Sarmiento Morante  37  0.0
25725      119   Jeremy Sarmiento Morante  37  0.0

[3096 rows x 4 columns]

In [32]:
merged_seasons.groupby(['element', 'season_x', 'GW']).filter(lambda x: len(x) > 1)[['name', 'season_x', 'GW', 'opp_team_name']]

                name season_x  GW  opp_team_name
3976   Claudio Bravo  2016-17  27     Sunderland
3977   Claudio Bravo  2016-17  27          Stoke
4002    Erik Pieters  2016-17  27  Middlesbrough
4003    Erik Pieters  2016-17  27       Man City
4004    Fabian Delph  2016-17  27     Sunderland
...              ...      ...  ..            ...
97656   N'Golo Kanté  2021-22  36          Leeds
97657    Josh Martin  2021-22  36       West Ham
97658    Josh Martin  2021-22  36      Leicester
97659  Wilfred Ndidi  2021-22  36        Everton
97660  Wilfred Ndidi  2021-22  36        Norwich

[9325 rows x 4 columns]

In [37]:
import sqlite3

In [42]:
conn = sqlite3.connect("../../fpl.db")
raw_team_match_log_df = pd.read_sql_query("SELECT * FROM raw_team_match_log", conn)
conn.close()
raw_team_match_log_df

,season,team,date,time,comp,round,day,venue,result,gf,ga,opponent,xg,xga,poss,link
0,2021-2022,Manchester City,2021-08-07,17:15,Community Shield,FA Community Shield,Sat,Neutral,L,0,1,Leicester City,NaN,NaN,57.0,https://fbref.com/en/squads/b8fd03ef/2021-2022...
1,2021-2022,Manchester City,2021-08-15,16:30,Premier League,Matchweek 1,Sun,Away,L,0,1,Tottenham,2.0,1.0,65.0,https://fbref.com/en/squads/b8fd03ef/2021-2022...
2,2021-2022,Manchester City,2021-08-21,15:00,Premier League,Matchweek 2,Sat,Home,W,5,0,Norwich City,2.7,0.1,67.0,https://fbref.com/en/squads/b8fd03ef/2021-2022...
3,2021-2022,Manchester City,2021-08-28,12:30,Premier League,Matchweek 3,Sat,Home,W,5,0,Arsenal,4.0,0.2,80.0,https://fbref.com/en/squads/b8fd03ef/2021-2022...
4,2021-2022,Manchester City,2021-09-11,15:00,Premier League,Matchweek 4,Sat,Away,W,1,0,Leicester City,3.3,0.6,61.0,https://fbref.com/en/squads/b8fd03ef/2021-2022...
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
10220,2022-2023,Southampton,2023-04-30,14:00,Premier League,Matchweek 34,Sun,Away,L,1,3,Newcastle Utd,0.8,4.3,37.0,https://fbref.com/en/squads/33c895d4/Southampt...
10221,2022-2023,Southampton,2023-05-08,20:00,Premier League,Matchweek 35,Mon,Away,L,3,4,Nott'ham Forest,3.1,1.8,64.0,https://fbref.com/en/squads/33c895d4/Southampt...
10222,2022-2023,Southampton,2023-05-13,15:00,Premier League,Matchweek 36,Sat,Home,L,0,2,Fulham,0.4,1.4,36.0,https://fbref.com/en/squads/33c895d4/Southampt...
10223,2022-2023,Southampton,2023-05-21,14:00,Premier League,Matchweek 37,Sun,Away,L,1,3,Brighton,0.6,2.5,37.0,https://fbref.com/en/squads/33c895d4/Southampt...
10224,2022-2023,Southampton,2023-05-28,16:30,Premier League,Matchweek 38,Sun,Home,D,4,4,Liverpool,1.8,4.0,31.0,https://fbref.com/en/squads/33c895d4/Southampt...

In [41]:
conn.close()